@import url(https://fonts.googleapis.com/css?family=Lato:400,300,900,700);

.fotoCarro{
  max-height: 270px;
  margin-left: 220px;
  background-blend-mode: screen multiply;
}

.navbar,
.navbar-fixed-top{
	padding-top: 10px;
	padding-bottom: 10px;
}

.vitrineCarros{
	margin-top: 70px;
}

#check{
  position: absolute;
  right: 150;
  bottom: 0;
  max-height: 100px;
}

#infoVeiculo{
  padding: 0px;
}

.aluguel{
  margin-top: 40px;
}

.divider {
  height: 1px;
  width:100%;
  display:block; /* for use on default inline elements like span */
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.marca,
.modelo{
  display: inline;
  font-weight: bold
}

.nome,
.sobrenome{
  display: inline;
}