#logo {
	display: inline;
}
#logoImg{
	height: 22px;
	width: 10px;
	background-color: #ed0000;
	display: inline-block;
	margin-right: 5px;
	margin-top: 3px;
	margin-left: 5px;
}
#barraSuperior{
	display: inline;
	float: right;
	margin-top: 20px;
}
#barraSuperior li{
	padding: 50px;
	font-family: 'Josefin Sans';
}
.txtBranco{
	color: #FFF
}
#textoFooter{
	margin-right: 5px;
}
#main{
	 background-image: 
	    linear-gradient(
	      rgba(0, 0, 0, 0.5),
	      rgba(0, 0, 0, 0.5)
	    ),
	    url('../imgs/driver.jpg');
	background-size:100% auto;
	background-color: #fff;
	width: 100%;
	background-repeat: no-repeat;
	margin-left: 0px;
}
#portfolio{
	padding-top: 80px !important;
}
#about{ /*Area Tarifas*/
	padding-top: 0px !important;
	padding-bottom: 0px;
	background-color: #fff;
}
#pricePlans{
	padding-top: 80px;
}

#areaSobre{
	padding: 0px;
	padding-top: 20px;
}

#areaContato{
	padding: 0px;
	padding-top: 20px;
}
#contact{
	padding-bottom: 20px;
}
#contact{
	font-family: 'Raleway', sans-serif;
	padding-top: 80px !important;
}


ul{
	list-style: none;
}
.cd-pricing-container,.cd-full-width{
	margin-top: 0px !important;
}
.cd-pricing-list{
	margin-top: 0px !important;
	padding-left: 0px;
}

.subtitle{
	color: #FF0000;
	font-style: italic;
	font-family: 'Raleway', sans-serif;
}
.galeriaCaption{
	text-align: center;
}
.formularioReserva {
	color: #FF0000;
	text-align: left;
}
.formularioReserva .panel-heading{
	font-weight: bold;
	font-size: 1.4em;
}
.carousel-control{
	background-color: #999999;
}
#reserva{
 background-color: 
	    linear-gradient(
	      rgba(0, 0, 0, 0.5),
	      rgba(0, 0, 0, 0.5)
	    ),
	    url('../imgs/bannerIndex.jpeg');
	background-size:100% auto;
	background-color: #fff;
	background-repeat: no-repeat;
}
.tituloMain{
	font-family: 'Raleway', sans-serif;
	font-size: 2em;
}
#checkDevolucao{
	width: 5%;
	height: 22px;
	margin-right: 10px;
	margin-top: 0px;
}
.labelCheck{
	font-weight: bold;
}
.left-align{
	text-align: left;
}
.containerReservar{
	margin-left: 40px;
}

#formReservas{
	font-family: 'Raleway', sans-serif;
	background: rgba(0, 0, 0, 0.5);
	padding: 10px;
	text-align: left;
}

.formTopo{
	background-color: #434343;
	padding: 2px;
	margin-bottom: 20px;
	font-size: 1em;
}

.btnReservar{
	float: right;
}